@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

body {
    background-image: url(./media/bigrat.jpg);
    margin:auto
}
.menubar-bar {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3%;
    border-radius: 1%;
    border-color: crimson;
    border-style: ridge;
    margin-left: 12.5%;
    margin-right: 12.5%;
    background-color: aliceblue;
}
.baritem {
    padding: left 2%, right 2%, top 0.5%, bottom 0.5%;
    max-width: 150px;
    background-color: darkseagreen;
}
.baritem p {
    text-align: center;
    size: 75%;
    text-align: center;
    font-family: 'Comic Sans MS', Arial;
    font-size: 100%;
}
#title {
    background-color: rgb(255,255,255);
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-color: rgb(0,0,0);
    max-width: 70%;
}
