@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

body {
    background-image: url(./media/bigrat.jpg);
    margin:auto
}
.break {
    background-color: rgba(43, 78, 99, 0.678);
    min-height: 1px;
    width: 100%;
    max-width: 100%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:auto;
    margin-right: auto;
}
.break.out {
    background-color: rgba(0,0,0,0.0);
}
.mainheader {
    margin:auto;
    margin-top: 0.5%;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    min-height: max-content;
    background-color: rgba(194, 156, 54, 0.9);
    width: max-content;
    max-width: 80%;
    border-radius: 10px;
}
.mainheader h1 {
    text-align: center;
    font-family: "Faster One", system-ui;
    font-size:xx-large;
    font-weight: 600;
    font-style: normal;
    font-size: 350%;
    color: rgb(0,0,0);   
}
.menubar-bar {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    gap: 3%;
    border-radius: 15px;
    border-color: crimson;
    border-style: ridge;
    margin:auto;
    background-color: aliceblue;
}
.baritem {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    max-width: 150px;
    min-height: max-content;
    background-color: darkseagreen;
    border:0.0725%;
    border-style: inset;
    border-color: black;
    border-radius: 5px;
}
.baritem a {
    text-align: center;
    size: 75%;
    text-align: center;
    font-family: 'Comic Sans MS', Arial;
    font-size: 100%;
}
.contentdiv {
    margin: auto;
    background-color: rgba(216, 191, 216, 0.836);
    max-width: 85%;
    padding-left: 2.5%;
    padding-right:2.5%;
    padding-top: 1%;
    padding-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.contentdiv h3 {
    font-size: 200%;
    font-weight: 800;
}
.contentdiv p {
    text-align: left;
    font-size: 100%;
    font-weight: 100;
}
.contentdiv table {
    margin: auto;
    border-color: black;
    border-radius: 5px;
    border-width: 10px;
    border-style: groove;
    min-width: 85%;
    padding: 10px;
}

.contentdiv td,.contentdiv tr {
    border-color: black;
    border-style: solid;
    color: blue;
    border-width: 5px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family:"Faster One";
    font-size: 20px;
}
.keys td {
    border-style: double;
    border-color: red;
    font-family: "Comic Sans MS";
    color:deeppink;
    font-size:26px;
    font-weight: 1000;
}
